.App {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* background: rgb(52,73,94);
background: radial-gradient(circle, rgba(52,73,94,1) 0%, rgba(44,62,80,1) 100%); */
/* background: rgb(0,116,217);
background: radial-gradient(circle, rgba(0,116,217,1) 0%, rgba(0,31,63,1) 100%); */

}


html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Righteous', cursive;
    background-color: #2f3542;
}