.App {
    
}

body {
    /* background: rgb(52,73,94);
background: radial-gradient(circle, rgba(52,73,94,1) 0%, rgba(44,62,80,1) 100%); */
/* background: rgb(0,116,217);
background: radial-gradient(circle, rgba(0,116,217,1) 0%, rgba(0,31,63,1) 100%); */

}


html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Prompt', sans-serif !important; */
    font-family: 'Righteous', cursive;
   
    /* background: #0F2027;  
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);  */

    /* background: #a73737;  
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);  
    background: linear-gradient(to right, #7a2828, #a73737);  */


    /* background: #0F2027;  
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  */
    background-color: #2f3542;
}