.QuizQuestion {
    max-width: 600px;
    padding-bottom: 50px;
}

.QuizQuestion img {
    max-width: 700px;
    opacity:0.7;
    filter: drop-shadow(0 20px 0.8rem #3cc8d093);
    /* border-radius: 10px; */
    /* -webkit-box-shadow: 3px 18px 44px 12px rgba(0,0,0,0.58);
    -moz-box-shadow: 3px 18px 44px 12px rgba(0,0,0,0.58);
    box-shadow: 3px 18px 44px 12px rgba(0,0,0,0.58); */
}

