.NextButton {
    border: 2px solid #878787;
    color: #878787;
    font-size: 20px;
    -webkit-box-shadow: 1px 1px 42px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 42px -10px rgba(0,0,0,0.75);
box-shadow: 1px 1px 42px -10px rgba(0,0,0,0.75);
}