

.SelectorItem {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 240px;
    background-color: transparent;
    transition: .40s, transform .40s ease;
    -moz-transition: .40s, transform .40s ease;
    -webkit-transition: .40s, transform .40s ease;
}

.SelectorItem h5 {
    font-size: 30px;
    color: #878787;
    text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    padding-top: 10px;
}

.SelectorItem img {
    -webkit-box-shadow: 1px 1px 24px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 24px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 24px 2px rgba(0,0,0,0.75);
}

.SelectorItem img:hover {
    cursor: pointer;
    /* filter: drop-shadow(0 0 0.8rem #3cc8d093); */
}

.SelectorItem input[type=radio] {
    display: none;
}

.SelectorItem:hover h5 {
   color: #a2a1a1;
   cursor: pointer;
}

label {
    height: 100%;
    display: block;
    /* background: white; */
}

input[type=radio]:checked + label{
    /* color: lighten(#332f35,60%); */
    opacity:0.4;
}
  
.SelectorItem input[type=radio]:checked + label > img {
    border: 20px solid rgb(228, 207, 94);
}