
.QuizAlt {
    max-width: 200px;
    padding-bottom: 15px;
}

.QuizAlt img{
    height: 150px;
}

.QuizAlt img:hover {
    cursor: pointer;
}

.QuizAlt input[type=radio] {
    display: none;
  }

  .QuizAlt img:active {
    cursor: pointer;
}

.QuizAlt {
    transition: .40s, transform .40s ease;
    -moz-transition: .40s, transform .40s ease;
    -webkit-transition: .40s, transform .40s ease;
}
  
.QuizAlt:hover {
    -ms-transform: scale(1.06); 
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    filter: drop-shadow(0 0 0.8rem #3cc8d093);
}


.borderThick{
    border-width: 3px !important;
}

label {
    height: 100%;
    display: block;
    /* background: white; */
}

input[type=radio]:checked + label{
    /* color: lighten(#332f35,60%); */
    /* opacity:0.4; */
}
  
.QuizAlt input[type=radio]:checked + label > img {
   /*  border: 20px solid rgb(228, 207, 94); */
}



